<?xml version="1.0" encoding="utf-8"?>
<RuleSet
	Name="OvermanGroup All Rules"
	Description="This rule set contains all Overman rules."
	ToolsVersion="12.0">
	<Localization
		ResourceAssembly="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.dll"
		ResourceBaseName="Microsoft.VisualStudio.CodeAnalysis.RuleSets.Strings.Localized">
		<Name Resource="AllRules_Name" />
		<Description Resource="AllRules_Description" />
	</Localization>
	<IncludeAll Action="Error" />
	<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
		<Rule Id="CA2210" Action="None" />
	</Rules>
</RuleSet>
